@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto+Condensed:wght@700&family=Roboto:wght@400;500;700&family=Source+Sans+Pro&display=swap');
@import "reset";

body {
    font-family: "Raleway";
    font-size: 1.125rem;
}

.wrapper {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 30px;
    padding-bottom: 191px;
}

