@import "../../resources/variables";

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;

    width: 140px;
    height: 43px;

    background: $c-primary;
}
.secondary {
    background: $c-secondary;
    border: 1px solid $c-selected;
}
.long {
    width: 292px;
}
.short {
    width: 24px;
}