@import "../../../resources/variables";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.menu {
    .menuList {

    }
    .menuItem {
        color: $c-text;
        list-style: none;
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
        font-size: 1rem;
        line-height: 120%;
        padding: 4px 16px 30px 16px;
    }
    .menuItemActive {
        color: $c-primary;
        border-bottom: 2px solid $c-primary;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
}
.logo {

}
.rightGroup {

}